body {
  background-color: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.cover-photo {
  position: relative;
  min-height: 130px;
  height: 60vh;
  border-bottom: 1px solid #eeeff2;
  background: #fff;
  margin-bottom: -104px;

  .cover-wrap {
    .image {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
.icon {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 100;
  top: 0px;

  .icon-wrap {
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
}
