%article.articles
  - @articles.each do |article|
    %a.article.text-decoration-none{ href: article.path }
      %strong.text-decoration-underline= article.title
      %p
        = CGI.escapeHTML "#{article.summary}..."
        %br
        %small= article.created_at.strftime("%Y-%m-%d %H:%M:%S")
