.articles
  - @articles.each do |article|
    %a.article{ href: article.path }
      %strong= article.title
      %p
        = "#{CGI.escapeHTML(article.summary)}..."
        %br
        %small= article.updated_at.strftime("%Y-%m-%d %H:%M:%S")

%hr

.row.links
  .col-2
    %a{ href: "https://facebook.com/asonas.P" }
      %i.fa.fa-facebook
  .col-2
    %a{ href: "https://twitter.com/asonas" }
      %i.fa.fa-twitter
  .col-2
    %a{ href: "https://instagram.com/asonas" }
      %i.fa.fa-instagram
  .col-2
    %a{ href: "https://www.flickr.com/photos/asonas" }
      %i.fa.fa-flickr
  .col-2
    %a{ href: "https://github.com/asonas" }
      %i.fa.fa-github
  .col-2
    %a{ href: "http://tumblr.ason.as/" }
      %i.fa.fa-tumblr-square
  .col-2
    %a{ href: "http://www.amazon.co.jp/registry/wishlist/BLMOXOOR4JFK" }
      %i.fa.fa-amazon
  .col-2
    %a{ href: "https://asonas.hatenadiary.org/" }
      %i.fa.fa-book
  .col-2
    %a{ href: "http://asonas.hatenablog.com/" }
      %img{ src: "/images/asonashatenablog.jpg", class: "img-fluid" }
  .col-2
    %a.circle-icon
      %img{ src: "/images/asonas.png", class: "img-fluid" }
