!!! 5
%html{ lang: "ja" }
  %head
    %title= "ason.as"
    %meta{ "http-equiv" => "Content-Type", content: "html/haml; charset=UTF-8" }
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %script{ src: "https://kit.fontawesome.com/f10d15f462.js", crossorigin: "anonymous" }
    %link{ rel: "stylesheet", href: "/css/application.css"}
    %link{ rel: "stylesheet", href: "/css/bootstrap.min.css"}

  %body
    .container
      %nav.navbar.navbar-expand-lg.navbar-light
        %a.navbar-brand.logo.mr-auto{href: "/"} ason.as
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{href: "/"}
              トップ
          %li.nav-item
            %a.nav-link{href: "/articles"}
              記事一覧
          %li.nav-item
            %a.nav-link{href: "/feed"}
              Feed(RSS 2.0)
      %hr

      = yield
      %footer
        asonas a.k.a Yuya Fujiwara

    %script{ src: "/js/bootstrap.bundle.min.js" }
    %script{ src: "/js/bootstrap.min.js" }

