body {
  background-color: #fafafa;
  color: #4b4f54;
  font-size: 14px; }
  body h1 {
    font-size: 5rem; }
  body .container {
    width: 1000px; }
  body .col-2 {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;}
.about-asonas {
  margin-top: 50px;
  margin-bottom: 40px; }
  .about-asonas .icon {
    text-align: center;
    margin: 0 auto;}
    .about-asonas .icon img {
      width: 100%;
      border-radius: 120px; }
  .about-asonas .personal-information .name {
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: 300; }
  .about-asonas .personal-information .name small {
    font-size: 50%; }

.links {
  margin-bottom: 30px; }
  .links a.vertical-align-middle {
    line-height: 120px;
    vertical-align: middle; }
  .links a {
    display: block;
    font-size: 10rem; }
    .links a i.fa {
      font-size: 10vw; }
    .links a img {
      width: 100px; }
    .links a .fa-facebook {
      color: #354B8E; }
    .links a .fa-twitter {
      color: #4298ed; }
    .links a .fa-instagram {
      color: #355E89; }
    .links a .fa-flickr {
      color: #202023; }
    .links a .fa-github {
      color: #272727; }
    .links a .fa-tumblr-square {
      color: #29354b; }
    .links a .fa-amazon {
      color: #fc8800; }
    .links a .fa-book {
      color: #47A3D9 }

.articles a.article {
  color: #666; }
@media screen and (max-width:767px) {
  body h1 {
    font-size: 3rem;
  }
  .links a.vertical-align-middle {
    line-height: 130px;
    vertical-align: middle; }
}

@media screen and (min-width:768px) and ( max-width:1024px) {
  body h1 {
    font-size: 4rem;
  }
  .links a.vertical-align-middle {
    line-height: 150px;
    vertical-align: middle; }

  .links a i.fa {
    font-size: 100px;
  }
  .links a img {
    width: 10vw;
  }
}

