body {
  background-color: #fafafa;
  color: #4b4f54;
  font-size: 14px; }
  body h1 {
    font-size: 7rem; }
  body .container {
    width: 1000px; }
  body .logo {
    font-size: 3rem;
    margin-right: auto; }
  body .col-2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px; }
  body footer {
    padding-top: 40px;
    padding-bottom: 40px; }

a {
  color: #4b4f54 !important; }

a:visited {
  color: #4b4f54 !important; }

article {
  width: 70%;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.7rem; }

hr.dotted {
  border-top: 1px dotted rgba(0, 0, 0, 0.1); }

.about-asonas {
  margin-top: 50px;
  margin-bottom: 40px; }
  .about-asonas .icon {
    text-align: center;
    margin: 0 auto; }
    .about-asonas .icon img {
      width: 100%;
      border-radius: 120px; }
  .about-asonas .personal-information .name {
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: 300; }
  .about-asonas .personal-information small {
    font-size: 50%; }

.links {
  margin-bottom: 30px; }
  .links a.vertical-align-middle {
    line-height: 210px;
    vertical-align: middle; }
  .links a {
    display: block;
    text-align: center; }
    .links a i.fa {
      font-size: 180px; }
    .links a img {
      width: 200px;
      margin: 0; }
    .links a .fa-facebook {
      color: #354b8e; }
    .links a .fa-twitter {
      color: #4298ed; }
    .links a .fa-instagram {
      color: #355e89; }
    .links a .fa-flickr {
      color: #202023; }
    .links a .fa-github {
      color: #272727; }
    .links a .fa-tumblr-square {
      color: #29354b; }
    .links a .fa-amazon {
      color: #fc8800; }

blockquote {
  position: relative;
  padding: 10px 12px;
  box-sizing: border-box;
  font-style: italic;
  color: #464646;
  border-left: solid 40px #c4c4c4;
  background: #f3f3f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19); }

blockquote:before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -32px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "\f10d";
  font-family: FontAwesome;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  font-weight: 900; }

blockquote p {
  position: relative;
  padding: 0;
  margin: 10px 0;
  z-index: 3;
  line-height: 1.7; }

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em; }

img {
  margin: 15px 0; }

@media screen and (max-width: 767px) {
  body h1 {
    font-size: 3rem; }

  .links a.vertical-align-middle {
    line-height: 130px;
    vertical-align: middle; }

  article {
    width: 100%;
    margin: 0 auto; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body h1 {
    font-size: 4rem; }

  .links a.vertical-align-middle {
    line-height: 150px;
    vertical-align: middle; }

  .links a i.fa {
    font-size: 100px; }

  .links a img {
    width: 10vw; }

  article {
    width: 80%;
    margin: 0 auto; } }
